
<div class="composer-container">
  <div class="row">
    <div class="col-sm-12">

      <h3 class="align-center">Amy Beach</h3>
    </div>
  </div>

  <hr />

  <div class="row about-composer">
    <div class="col-sm-3">
    <figure>
      <img src="./assets/beach.gif"/>
      <figcaption>American Composers Orchestra <br>
      www.americancomposers.org</figcaption>
      </figure>
    </div>
    <div class="col-sm-9">
      <p>
     Amy Marcy Cheney Beach was born in New Hampshire and lived from 1867 - 1944, she was an American composer and pianist.
By the time she was four she memorized over forty songs, taught herself to read, and played and composed simple waltzes.
By age six, she studied piano with her mother, who was an amateur singer and pianist. in 1885, she as living in Boston
with her family and played her first performance with the Boston Symphony Orchestra.
By 1892 she had been married for seven years to Henry Harris Aubrey Beach, and became the first American woman to achieve
widespread recognition as a composer of large-scale works with orchestra. <em class="apa-reference"><a href="https://www.loc.gov/item/ihas.200153246/" target="_blank">Source</a></em>
      </p>
    </div>
  </div>
</div>







