<div fxLayout="column">
  <mat-card fxFlex style="margin-top: 5%; width: 50%; margin-left: 33%;" class="mat-elevation-z0">
    <mat-card-title>
    <h1>Error! Page not found.</h1>
    <br/>
    <br/>
      <img src="./assets/calculator.jpg" width="450" height="350" />
    </mat-card-title>
    <br/>
    <br/>

    <h2>Oops! Something went wrong. Please go back and try again</h2>
    <button routerLink="/">Go Back</button>

    <mat-card-content style="text-align: center; padding-left: 30%;">
    </mat-card-content>
  </mat-card>
</div>
