<div fxLayout="row wrap">
  <div fxFlex>
    <div fxLayout="column">
      <div>
        <img src="../assets/corneliafunke.jpg" width="280" height="250" />
      </div>
      <div>
        <em>
          Photo by Encyclopedia or World Biography <a class="attribution-link" href="https://www.notablebiographies.com/news/Ca-Ge/Funke-Cornelia.html" target="_blank"></a>
        </em>
      </div>
    </div>
  </div>

  <div fxFlex>
    <h1 class="blue">Cornelia Funke</h1>
    <p>
        Cornelia Funke is a german author who has written many popular books, such as
        The Thief Lord, Dragon Rider, the Inkheart series, and the MirrorWorld series.
        She was born in 1958 and graduated from the University of Hamburg with an education
        theory degree. She then worked as an illustrator for board games and other authors.
        When she decided to begin writing her own books, she started out writing childrens books.
        Her first major selling book, aimed at older children, was Dragon Rider. She then spent
        months researching for her novel Inkheart. Which was followed by two others to complete
        the series. Filled with stories of fantasy, adventure, and spells, her books became
        an instant success and sold quickly after being translated to english.

    </p>
  </div>
</div>
